@font-face {
    font-family: Lato;
    src: url('../../../../public/fonts/dQdamplxFsbG.woff2') format('woff2'), url('../../../../public/fonts/0M5vtfvQWcIg.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: Lato-Bold;
    src: url("../../../../public/fonts/4S5MDVXfJr94.woff2") format("woff2"), url("../../../../public/fonts/Z3AZPTnTLB5s.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap
}

@keyframes pulse {
    from {
        transform: scale3d(.6, .6, .6);
        opacity: .4
    }

    to {
        transform: scale3d(1.1, 1.1, 1.1);
        opacity: 0
    }
}

body {
    background: #fafcff;
    margin: 0
}

main {
    margin-top: 77px;
    display: flex;
    justify-content: center;
    padding: 0 17px
}

.logo {
    display: flex;
    justify-content: center;
    margin-top: 21px
}

.shadow-block {
    width: calc(100vw - 34px)
}

.content {
    padding: 24px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background: #fff;
    box-shadow: 0 1px 4px #e3ebfc, 0 24px 48px rgba(230, 235, 245, .4);
    border-radius: 12px
}

.title {
    margin: 0;
    font-family: Lato-Bold, Arial, sans-serif;
    font-size: 20px;
    line-height: 28px;
    color: #0b1f33
}

.sub-title {
    margin-top: 16px;
    font-family: Lato, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #66727f
}

br {
    margin: 0
}

.loader {
    margin-top: 16px;
    display: flex;
    justify-content: center
}

.dot-flashing {
    width: 16px;
    height: 16px;
    background: #c5d3f1;
    position: relative;
    border-radius: 50%;
    animation: dotFlashing 1s infinite alternate;
    animation-delay: .5s
}

.dot-flashing:after,
.dot-flashing:before {
    content: '';
    width: 16px;
    height: 16px;
    position: absolute;
    border-radius: 50%
}

.dot-flashing:after {
    background: #c5d3f1;
    right: -32px;
    animation: dotFlashing 1s infinite alternate;
    animation-delay: 1.2s
}

.dot-flashing:before {
    background: #c5d3f1;
    left: -32px;
    animation: dotFlashing 1s infinite alternate;
    animation-delay: 0s
}

@keyframes dotFlashing {

    0%,
    25%,
    50% {
        background: #e0e9fc
    }

    75% {
        background: #c5d3f1
    }

    100% {
        background: #99b1e6
    }
}

@media all and (min-width:768px) {
    .shadow-block {
        width: 640px
    }

    .title {
        font-size: 24px;
        line-height: 32px
    }

    .sub-title {
        font-size: 18px;
        line-height: 24px
    }
}

@media all and (min-width:1140px) {
    .shadow-block {
        width: 597px
    }
}