@media only screen and (min-width: 400px) and (max-width: 700px) {
    .pdfDoc {
        width: 100%;
        max-height: 80vh; /* Устанавливаем максимальную высоту */
    }
    .doc {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        width: 100%;
    }
    .agr_btn{
        position: fixed;
        bottom: 65%;
        right: 37%;
        padding: 10px 20px;
        font-size: 16px;
        background-color: #007bff;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        cursor: pointer;
    }
}
@media only screen and (min-width: 701px){
    .pdfDoc {
        width: 100%;
        max-height: 80vh; /* Устанавливаем максимальную высоту */
        overflow: auto; /* Добавляем скролл, если контент не помещается */
    }
    .doc {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
    .agr_btn{
        position: absolute;
        bottom: 77%;
        right: 15%;
        font-size: 16px;
        background-color: #007bff;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        cursor: pointer;
    }
}